---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="team">
    <div class="pb-12 mt-5">
        <div class="text-5xl font-bold mb-4">Nuestro equipo</div>
        <div class="py-2">
            <span class="text-lg">
                El equipo de la Olimpiada Boliviana de Inteligencia Artificial
                está conformado por profesionales comprometidos con el
                desarrollo de la inteligencia artificial en Bolivia, todos con
                experiencia en el campo y pasión por la educación.
            </span>
        </div>
        <div class="mt-8">
            <div
                class="card bg-base-200 shadow-md mb-6 p-6 flex flex-row items-center justify-between"
            >
                <div class="flex-1">
                    <div class="text-2xl font-semibold">
                        Diego Angulo Ramirez
                    </div>
                    <div class="badge badge-primary mt-2 mb-2">
                        Director de la olimpiada
                    </div>
                    <div>
                        Diego es ex-competidor en olimpiadas de informática y
                        entrenador de los equipos bolivianos en competencias
                        internacionales de programación como IOI y OII.
                        <br />
                        Graduado de la carrera de Matemática aplicada a Ciencias
                        de la Computación en el Instituto de Física y Tecnología
                        de Moscú (MIPT).
                    </div>
                </div>
                <div
                    class="ml-6 w-24 h-24 bg-base-300 rounded-full flex items-center justify-center"
                >
                    <!-- Foto de Diego aquí -->
                    <span class="text-xs text-base-content">Foto</span>
                </div>
            </div>
            <div
                class="card bg-base-200 shadow-md mb-6 p-6 flex flex-row items-center justify-between"
            >
                <div class="flex-1">
                    <div class="text-2xl font-semibold">
                        Rodolfo Catunta Uturunco
                    </div>
                    <div class="badge badge-secondary mt-2 mb-2">
                        Director del comité científico
                    </div>
                    <div>
                        Rodolfo es ex-competidor en olimpiadas de informática y
                        entrenador de los equipos bolivianos en competencias
                        internacionales de programación como IOI y OII.
                        <br />
                        Graduado de la carrera de Ingeniería de Sistemas en la Universidad
                        Católica Boliviana (UCB).
                    </div>
                </div>
                <div
                    class="ml-6 w-24 h-24 bg-base-300 rounded-full flex items-center justify-center"
                >
                    <!-- Foto de Rodolfo aquí -->
                    <span class="text-xs text-base-content">Foto</span>
                </div>
            </div>
        </div>
    </div></BaseLayout
>
